.skillsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}
.searchBar {
  background: #f5f6f8;
  border-radius: 24px;
  width: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
}
/* comment for actual */
.searchBar > * {
  margin: 0 10px;
  padding: 0 8px;
}
.searchBar .searchIcon {
  color: #969696;
  font-size: 24px;
}
/* .searchBar input,
.searchBar .inputSkills {
  border: none;
  padding: 5px 0;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #969696;
  background: #f5f6f8;
} */

.addSkills button {
  background: #d83a52;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  border: none;
  outline: none;
  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.skillsView {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skills {
  /* background: green; */
  background: #f5f6f8;
  border-radius: 0px 24px 24px 24px;
  width: calc(50% - 50px) !important;
  height: 74px;
  margin: 25px 10px 0;
}
.skills h4 {
  padding: 10px;
  font-size: 20px;
  line-height: 27px;
  color: #323338;
}

.addSkillsModalBox {
  background: #fefefe;
  border-radius: 16px;
  width: 656px;
  height: 443px;
}

.titleHeaderSkills {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 20px;
}
.titleHeaderSkills h4 {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #323338;
}
.titleHeaderSkills .crossIconAddSkills {
  padding: 10px;
  font-size: 20px;
}
.addSkillsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addSkillDetails {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #d83a52;
  width: 95%;
}
.addSkillDetails > * {
  margin: 8px 25px;
  padding: 5px 10px;
}

.addSkillDetails input {
  background: #f5f6f8;
  border-radius: 0px 24px 24px 24px;
  font-size: 16px;
  line-height: 22px;
  color: #939499;
  padding: 12px;
  outline: none;
  border: none;
}
.addSkillsForm button {
  background: #d83a52;
  border-radius: 8px;
  padding: 12px 24px;
  gap: 8px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: 16px;
  line-height: 24px;
  width: 140px;
  outline: none;
  border: none;
}
